body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

:root {
  --first-title-color: #ffffff;
  --secondary-title-color: rgba(249, 249, 249, 1);
  --first-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(83, 145, 0, 1);
  --third-text-color: rgba(204, 82, 73, 1);
  --noactive-text-color: rgba(211, 211, 212, 1);
  --carrency-tex-color: rgba(0, 0, 0, 0.7);
  --activ-btn-color: rgba(24, 115, 235, 1);
  --noactiv-btn-color: rgba(44, 100, 235, 0.07);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-conteiner {
  background-color: var(--secondary-title-color);
}
@media (max-width: 1440px) {
  .header-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  .header-menu {
    display: none;
  }
}

.header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--first-text-color);
}
@media (max-width: 1440px) {
  .header-text {
    display: none;
  }
}

.header-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
@media (max-width: 1440px) {
  .header-enter {
    display: none;
  }
}

.header-btn-singin {
  width: 151px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid rgba(44, 100, 235, 0.2);
  background-color: var(--noactiv-btn-color);
}

.header-btn-register {
  width: 151px;
  height: 34px;
  border-radius: 10px;
  border: none;
  background-color: var(--activ-btn-color);
  color: var(--first-title-color);
}

.header-menu-item {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--first-text-color);
  text-transform: uppercase;
}

.header-btn {
  background-color: transparent;
  border: none;
}

.header-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: relative;
}
@media (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .exchange {
    display: none;
  }
}

.answer {
  margin-top: -4px;
  display: none;
  border-radius: 4px;
  padding: 16px;
}

.question-toggle:checked ~ .answer {
  display: block;
}

.answer-text {
  margin-bottom: 20px;
}

.question-toggle {
  display: none;
}

.question-toggle + label::after {
  content: url("/images/arrows-list.svg");
}

.exchange-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
}
@media (max-width: 1440px) {
  .exchange-title {
    font-size: 24px;
  }
}

.exchange-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exchange-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: rgba(83, 145, 0, 0.07);
  border-radius: 6px;
  margin-right: 16px;
}

.indicator-coefficient {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: var(--first-text-color);
  margin-right: 22px;
}

.indicator-percent {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3333333333;
  color: var(--secondary-text-color);
}

.exchange-time {
  margin-right: 138px;
}

.exchange-time-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.exchange-time-text::before {
  content: url("/images/time.svg");
  margin-right: 5px;
}

.exchange-time-link {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.exchange-progress-time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 30px;
}

.exchange-progress-data {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 6px;
}

.exchange-progress-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.exchange-progress-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exchange-progress-line {
  margin-right: 6px;
}

.currency {
  background-color: var(--secondary-title-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

.currency-select {
  width: 350px;
  height: 36px;
}

.questions-group {
  width: 350px;
  height: 36px;
  border: 1px solid var(--first-text-color);
  border-radius: 4px;
}
@media (min-width: 1440px) {
  .questions-group {
    display: none;
  }
}

.currency-select-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(79, 79, 79);
  padding: 6px 10px 6px 10px;
}

.currency-pairs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1440px) {
  .currency-pairs {
    display: none;
  }
}

.currency-pairs-item {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(79, 79, 79);
  padding: 6px 10px 6px 10px;
}

.currency-pairs-item:hover,
.currency-pairs-item:focus {
  border: 1px solid rgba(44, 100, 235, 0.2);
  border-radius: 10px;
  background-color: rgba(44, 100, 235, 0.07);
  color: rgb(44, 100, 235);
}

.currency-pairs-item:active {
  border: 1px solid rgba(44, 100, 235, 0.2);
  border-radius: 10px;
  background-color: rgba(44, 100, 235, 0.07);
  color: rgb(44, 100, 235);
}

.currency-pairs-bottom {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  overflow: auto;
}
@media (max-width: 1440px) {
  .currency-pairs-bottom {
    gap: 6px;
  }
}

.currency-pairs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currency-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid var(--noactive-text-color);
  border-radius: 10px;
}

.currency-name {
  margin-right: 30px;
}

.arrow-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(83, 145, 0, 0.07);
  width: 30px;
  height: 30px;
}

.arrow-losers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(204, 82, 73, 0.07);
  width: 30px;
  height: 30px;
}

.forecast-title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-top: 16px;
  width: 360px;
  line-height: 1.35;
}
@media (min-width: 1440px) {
  .forecast-title {
    font-size: 36px;
    width: 870px;
  }
}

.converter {
  background-color: var(--noactive-text-color);
  margin: 16px;
  padding: 16px;
  border-radius: 6px;
}
@media (min-width: 1440px) {
  .converter {
    margin: 30px;
  }
}

.converter-title {
  text-align: center;
  font-size: 18px;
}
@media (min-width: 1440px) {
  .converter-title {
    font-size: 21px;
  }
}

.converter-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1440px) {
  .converter-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 12px;
  }
}

.converter-amount {
  width: 254px;
  padding: 10px 16px 10px 0px;
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(193, 193, 195);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .converter-amount {
    width: 321px;
    padding: 10px 16px 10px 16px;
    margin-bottom: 0px;
  }
}

.converter-btn {
  position: absolute;
  top: 29px;
  border-radius: 6px;
  border: 1px solid rgb(193, 193, 195);
  background-color: var(--first-title-color);
  height: 40px;
}
@media (min-width: 1440px) {
  .converter-btn {
    top: 12px;
    left: 370px;
  }
}

.currency-converter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.currency-converter .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-converter input {
  width: 100px;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
}

.currency-converter button {
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.currency-select-first {
  position: absolute;
  border: none;
  left: 235px;
  top: 8px;
  width: 30px;
}
@media (min-width: 1440px) {
  .currency-select-first {
    left: 310px;
    top: 22px;
    width: 30px;
  }
}

.currency-select-secondary {
  position: absolute;
  left: 235px;
  top: 67px;
  border: none;
  width: 30px;
}
@media (min-width: 1440px) {
  .currency-select-secondary {
    left: 735px;
    top: 22px;
    width: 30px;
  }
}

.forecast-block {
  width: 350px;
  border-radius: 10px;
  border: 1px solid var(--secondary-text-color);
  -webkit-box-shadow: 0 4px var(--secondary-text-color);
          box-shadow: 0 4px var(--secondary-text-color);
}
@media (min-width: 1440px) {
  .forecast-block {
    width: 870px;
  }
}

.currency-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
}
@media (min-width: 1440px) {
  .currency-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 30px;
  }
}

.currency-data-line {
  border-bottom: 1px solid var(--noactive-text-color);
  padding-bottom: 6px;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.7);
}

.currency-data-index {
  margin-left: 105px;
  color: var(first-text-color);
}
@media (min-width: 1440px) {
  .currency-data-index {
    margin-left: 180px;
  }
}

.currency-trading {
  display: grid;
  justify-items: center;
  padding-bottom: 24px;
}

.currency-trading-btn {
  width: 318px;
  height: 44px;
  background-color: var(--activ-btn-color);
  color: var(--first-title-color);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-family: 16px;
  padding: 10px 65px 10px 65px;
  margin-bottom: 8px;
}
@media (min-width: 1440px) {
  .currency-trading-btn {
    width: 370px;
    padding: 10px 78px 10px 78px;
  }
}

.currency-ad-risk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
}

.currency-risk-btn {
  border: none;
  background-color: var(--noactive-text-color);
  margin-right: 5px;
  border-radius: 3px;
  color: var(--first-title-color);
  font-weight: 400;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--noactive-text-color);
}

.tab {
  padding-top: 30px;
  padding-right: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-size: 16px;
}

.tab:hover {
  color: var(--secondary-text-color);
}

.active {
  color: var(--secondary-text-color);
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 3px;
  background-color: var(--secondary-text-color);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.forecast-detailes {
  border-radius: 6px;
  border: 2px solid rgb(218, 235, 216);
  width: 350px;
}
@media (min-width: 1440px) {
  .forecast-detailes {
    width: 870px;
  }
}

.forecast-title {
  padding-bottom: 20px;
}

.detailes-item-text {
  font-size: 16px;
  font-weight: 400px;
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detailes-list {
  margin-right: 21px;
  margin-left: 21px;
}

.detailes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid var(--noactive-text-color);
}

.ditailes-currency {
  font-size: 16px;
  font-weight: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 350px;
}
@media (min-width: 1440px) {
  .ditailes-currency {
    width: 870px;
  }
}

.timeframe {
  width: 350px;
}
@media (min-width: 1440px) {
  .timeframe {
    width: 870px;
  }
}

.timeframe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (min-width: 1440px) {
  .timeframe-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.timeframe-btn-buy {
  border: none;
  margin-top: 16px;
  background-color: rgba(113, 178, 25, 0.07);
  border-radius: 9px;
  color: var(--secondary-text-color);
  padding: 6px 16px 6px 16px;
  font-size: 18px;
  font-weight: 400;
}

.timeframe-btn-sell {
  border: none;
  margin-top: 16px;
  background-color: gba(204, 82, 73, 0.07);
  border-radius: 9px;
  color: var(--third-text-color);
  padding: 6px 16px 6px 16px;
  font-size: 18px;
  font-weight: 400;
}

.timeframe-btn-neutral {
  border: none;
  margin-top: 16px;
  background-color: rgba(41, 46, 51, 0.07);
  border-radius: 9px;
  color: var(--first-text-color);
  padding: 6px 16px 6px 16px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.timeframe-item-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(83, 145, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.timeframe-item-sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(204, 82, 73, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.timeframe-item-neutral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--noactive-text-color);
  border-radius: 10px;
  cursor: pointer;
}

.timeframe-text {
  text-align: center;
  padding: 6px 16px 10px 16px;
  font-weight: 400;
  font-size: 16px;
}

.timeframe-index {
  background-color: var(--noactive-text-color);
  width: 100%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.learn-more {
  position: relative;
  padding: 16px 16px 16px 0px;
  background-color: rgb(244, 247, 254);
  border-radius: 0 10px 10px 0;
  border-left: 5px solid var(--activ-btn-color);
  margin-bottom: 46px;
  width: 334px;
}
@media (min-width: 1440px) {
  .learn-more {
    width: 870px;
    padding: 16px 0 16px 0;
  }
}

.learn-more-text {
  margin-left: 16px;
  padding-bottom: 10px;
}

.learn-more-btn {
  position: relative;
  width: 297px;
  margin-left: 16px;
  background-color: rgba(44, 100, 235, 0.05);
  border-radius: 10px;
  border: none;
  padding: 6px 10px 6px 10px;
  color: rgb(24, 115, 235);
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 1440px) {
  .learn-more-btn {
    width: 380px;
    padding: 6px 38px 6px 16px;
    font-size: 16px;
  }
}

.learn-more-btn-arrows {
  border: none;
  background-color: transparent;
  top: 92px;
  left: 300px;
  cursor: pointer;
  position: absolute;
}
@media (min-width: 1440px) {
  .learn-more-btn-arrows {
    top: 50px;
    left: 410px;
  }
}

.table-container {
  border: 1px solid var(--noactive-text-color);
  border-radius: 5px;
  width: 870px;
}
@media (max-width: 1440px) {
  .table-container {
    display: none;
  }
}

.table-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
}
@media (max-width: 1440px) {
  .table-title {
    font-size: 24px;
  }
}

.table-text {
  font-size: 12px;
  margin-bottom: 20px;
  color: var(--first-text-color);
  width: 350px;
}
@media (min-width: 1440px) {
  .table-text {
    width: 870px;
    font-size: 16px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: var(--noactive-text-color);
}

thead th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid var(--noactive-text-color);
}

tbody tr:nth-child(even) {
  background-color: var(--first-title-color);
  font-size: 16px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--noactive-text-color);
}

.mobile-tab-group {
  width: 350px;
}

.mobile-tab {
  width: 300;
  border-radius: 10px;
  border: 1px solid var(--noactive-text-color);
  padding: 3px;
}
@media (min-width: 1440px) {
  .mobile-tab {
    display: none;
  }
}

.mobile-tab-month {
  width: 100%;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 830px;
  height: 418px;
  margin-bottom: 38px;
}

.chart-title {
  margin-bottom: 20px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
}
@media (max-width: 1440px) {
  .chart-title {
    font-size: 24px;
  }
}

canvas {
  display: block;
  max-width: 100%;
}

.pocket-container {
  width: 270px;
  border: 1px solid var(--noactive-text-color);
  border-radius: 10px;
  margin-top: 30px;
}

.pocket-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.pocket-title {
  font-weight: 700;
  font-size: 25px;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.pocket-text {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
  padding-bottom: 22px;
  padding-left: 16px;
  padding-right: 16px;
}

.pocket-risk-btn {
  border: none;
  background-color: var(--noactive-text-color);
  top: 6px;
  right: -235px;
  border-radius: 3px;
  color: var(--first-title-color);
  font-weight: 400;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
  position: relative;
}

.pocket-receive-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 6px;
  background-color: var(--activ-btn-color);
  color: var(--first-title-color);
  padding: 10px 52px 10px 52px;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
}

.pocket-risk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.gainers {
  width: 270px;
  border-radius: 10px;
  border: 1px solid var(--noactive-text-color);
}

.gainers-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
  color: var(--first-text-color);
  padding: 16px 16px 20px 16px;
}

.gainers-line {
  width: 40px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 16px;
  margin-bottom: 20px;
}

.gainers-title-accent {
  color: var(--secondary-text-color);
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
}

.gainers-exchanges-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 13px;
  color: rgb(79, 79, 79);
  border-bottom: 1px solid var(--noactive-text-color);
}

.gainers-currency-btc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(250, 199, 30);
  margin-bottom: 6px;
}

.gainers-currency-btc-number {
  background-color: rgba(250, 199, 30, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gainers-currency-number-text {
  margin-top: 9px;
}

.gainers-currency-btc-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-btc-index {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-btc-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.gainers-currency-btc-logo {
  background-color: var(--carrency-tex-color);
}

.gainers-currency-cad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(192, 200, 208);
  margin-bottom: 6px;
}

.gainers-currency-cad-number {
  background-color: rgba(192, 200, 208, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gainers-currency-cad-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-cad-index {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-cad-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.gainers-currency-inr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(252, 161, 110);
  margin-bottom: 16px;
}

.gainers-currency-inr-number {
  background-color: rgba(252, 161, 110, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gainers-currency-inr-number-text {
  margin-top: 9px;
}

.gainers-currency-inr-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-inr-index {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-inr-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.losers {
  width: 270px;
  border-radius: 10px;
  border: 1px solid var(--noactive-text-color);
}

.losers-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
  color: var(--first-text-color);
  padding: 16px 16px 20px 16px;
}

.losers-title-accent {
  color: var(--third-text-color);
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
}

.losers-exchanges-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 13px;
  color: rgb(79, 79, 79);
  border-bottom: 1px solid var(--noactive-text-color);
}

.losers-currency-btc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(250, 199, 30);
  margin-bottom: 6px;
}

.losers-currency-btc-number {
  background-color: rgba(250, 199, 30, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.losers-currency-btc-number-text {
  margin-top: 9px;
}

.losers-currency-btc-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.losers-currency-btc-index {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.losers-currency-btc-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.losers-currency-btc-logo {
  background-color: var(--carrency-tex-color);
}

.losers-currency-cad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(192, 200, 208);
  margin-bottom: 6px;
}

.losers-currency-cad-number {
  background-color: rgba(192, 200, 208, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.losers-currency-cad-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.losers-currency-cad-index {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.losers-currency-cad-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.losers-currency-inr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgb(252, 161, 110);
  margin-bottom: 16px;
}

.losers-currency-inr-number {
  background-color: rgba(252, 161, 110, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.losers-currency-inr-number-text {
  margin-top: 9px;
}

.losers-currency-inr-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  gap: 20px;
}

.losers-currency-inr-index {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.losers-currency-inr-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.analisis-exchanges {
  width: 270px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
}

.analisis-exchanges-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 20px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  color: rgb(0, 0, 0);
}

.new-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ddd;
  margin-left: 16px;
  margin-right: 16px;
}

.new-tab {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid transparent;
  padding-bottom: 13px;
  font-size: 12px;
  line-height: 2;
  font-weight: 600;
}

.new-tab.active {
  color: #4caf50;
  border-color: #4caf50;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.buy {
  color: #4caf50;
}

.sell {
  color: #f44336;
}

.analisis-exchanges-text {
  margin: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.35;
  color: rgba(0, 0, 0, 0.75);
}

.sidebar {
  display: grid;
  gap: 30px;
}
@media (max-width: 1440px) {
  .sidebar {
    display: none;
  }
}

.bigdata {
  display: grid;
}

@media (min-width: 1440px) {
  .bigdata {
    grid-template-areas: "f s" "d s" "p s" "a .";
    gap: 0px 108px;
  }
  .forecast {
    grid-area: f;
  }
  .detailes {
    grid-area: d;
  }
  .prediction {
    grid-area: p;
  }
  .analysis {
    grid-area: a;
  }
  .sidebar {
    grid-area: s;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 48px;
  padding-left: 16px;
  background-color: var(--secondary-text-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--first-title-color);
}

.mobile-menu {
  padding: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--first-title-color);
  opacity: 70%;
  text-decoration: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--activ-title-color);
}

.mobile-menu-link.mobile-menu-link-current {
  color: var(--activ-title-color);
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--first-title-color);
}

.btn-mobile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.btn-mobile-menu-registration {
  width: 163px;
  height: 52px;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  background-color: var(--secondary-title-color);
}

.btn-mobile-menu-enter {
  width: 163px;
  height: 52px;
  border-radius: 4px;
  font-family: inherit;
  color: var(--secondary-title-color);
  border-color: var(--secondary-title-color);
  background-color: rgba(87, 225, 255, 0.2);
}/*# sourceMappingURL=main.css.map */