.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 830px;
  height: 418px;
  margin-bottom: 38px;
}

.chart-title {
  margin-bottom: 20px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
  @media (max-width: 1440px) {
    font-size: 24px;
  }
}

canvas {
  display: block;
  max-width: 100%;
}
