.forecast-detailes {
  border-radius: 6px;
  border: 2px solid rgba(218, 235, 216, 1);
  width: 870px;
}

.forecast-title {
  padding-bottom: 20px;
}

.detailes-item-text {
  font-size: 16px;
  font-weight: 400px;
  margin-right: 5px;
  align-items: center;
}

.detailes-list {
  margin-right: 21px;
  margin-left: 21px;
}
.detailes-item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid var(--noactive-text-color);
}
.ditailes-currency {
  width: 870px;
  font-size: 16px;
  font-weight: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}
