@mixin flex-center($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}

.forecast-title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
  @media (max-width: 1440px) {
    font-size: 24px;
  }
}

.converter {
  background-color: var(--noactive-text-color);
  margin: 30px;
  padding: 16px;
  border-radius: 6px;
}

.converter-title {
  text-align: center;
}

.converter-content {
  @include flex-center(space-between);
  padding-top: 12px;
}

.converter-amount {
  width: 321px;
  padding: 10px 16px 10px 16px;
  border-radius: 4px;
  border: none;
  border: 1px solid rgb(193, 193, 195);

  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.converter-btn {
  border-radius: 6px;
  border: 1px solid rgb(193, 193, 195);
  background-color: var(--first-title-color);
  height: 40px;
}

.currency-converter {
  @include flex-center(center);
  margin-top: 50px;
  flex-direction: column;
}
.currency-converter .inputs {
  @include flex-center(center);
}
.currency-converter input {
  width: 100px;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
}
.currency-converter button {
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.currency-select-first {
  position: absolute;
  border: none;
  left: 490px;
  width: 30px;
}
.currency-select-secondary {
  left: 915px;
  position: absolute;
  border: none;
  width: 30px;
}

.forecast-block {
  width: 870px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid var(--secondary-text-color);
  box-shadow: 0 4px var(--secondary-text-color);
}

.currency-data {
  @include flex-center(space-between);
  margin: 30px;
}
.currency-data-line {
  border-bottom: 1px solid var(--noactive-text-color);
  padding-bottom: 6px;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.7);
}

.currency-data-index {
  margin-left: 180px;
  color: var(first-text-color);
}

.currency-trading {
  display: grid;
  justify-items: center;
  padding-bottom: 24px;
}
.currency-trading-btn {
  width: 370px;
  height: 44px;
  background-color: var(--activ-btn-color);
  color: var(--first-title-color);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-family: 16px;
  padding: 10px 78px 10px 78px;
  margin-bottom: 8px;
}

.currency-ad-risk {
  @include flex-center(center);
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
}

.currency-risk-btn {
  border: none;
  background-color: var(--noactive-text-color);
  margin-right: 5px;
  border-radius: 3px;
  color: var(--first-title-color);
  font-weight: 400;
  font-size: 11px;
  padding: 3px 6px 3px 6px;
}
