.gainers {
  width: 270px;
  border-radius: 10px;
  border: 1px solid var(--noactive-text-color);
}
.gainers-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
  color: var(--first-text-color);
  padding: 16px 16px 20px 16px;
}

.gainers-line {
  width: 40px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 16px;
  margin-bottom: 20px;
}

.gainers-title-accent {
  color: var(--secondary-text-color);
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
}

.gainers-exchanges-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: calc(24 / 12);
  font-weight: 600;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 13px;
  color: rgba(79, 79, 79, 1);
  border-bottom: 1px solid var(--noactive-text-color);
}

.gainers-currency-btc {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgba(250, 199, 30, 1);
  margin-bottom: 6px;
}
.gainers-currency-btc-number {
  background-color: rgba(250, 199, 30, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.gainers-currency-number-text {
  margin-top: 9px;
}
.gainers-currency-btc-data {
  display: flex;
  align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-btc-index {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-btc-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.gainers-currency-btc-logo {
  background-color: var(--carrency-tex-color);
}

.gainers-currency-cad {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgba(192, 200, 208, 1);
  margin-bottom: 6px;
}
.gainers-currency-cad-number {
  background-color: rgba(192, 200, 208, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.gainers-currency-cad-data {
  display: flex;
  align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-cad-index {
  color: var(--third-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-cad-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}

.gainers-currency-inr {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid rgba(252, 161, 110, 1);
  margin-bottom: 16px;
}
.gainers-currency-inr-number {
  background-color: rgba(252, 161, 110, 0.15);
  width: 30px;
  height: 37px;
  border-radius: 6px 0 0 6px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.gainers-currency-inr-number-text {
  margin-top: 9px;
}
.gainers-currency-inr-data {
  display: flex;
  align-items: center;
  height: 37px;
  gap: 20px;
}

.gainers-currency-inr-index {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.gainers-currency-inr-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: var(--carrency-tex-color);
}
