.table-container {
  border: 1px solid var(--noactive-text-color);
  border-radius: 5px;
  width: 870px;

  @media (max-width: 1440px) {
    display: none;
  }
}

.table-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding-top: 16px;
  @media (max-width: 1440px) {
    font-size: 24px;
  }
}

.table-text {
  font-size: 12px;
  margin-bottom: 20px;
  color: var(--first-text-color);
  width: 350px;

  @media (min-width: 1440px) {
    width: 870px;
    font-size: 16px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: var(--noactive-text-color);
}

thead th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid var(--noactive-text-color);
}

tbody tr:nth-child(even) {
  background-color: var(--first-title-color);
  font-size: 16px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--noactive-text-color);
}
.mobile-tab-group {
  width: 350px;
}
.mobile-tab {
  width: 300;
  border-radius: 10px;
  border: 1px solid var(--noactive-text-color);
  padding: 3px;

  @media (min-width: 1440px) {
    display: none;
  }
}

.mobile-tab-month {
  width: 100%;
}
